html, body {
	background: #333;
	width: 100%;
	height: 100%;
}

#root {
	width: 200px;
	height: 200px;
}

.globe {
	border-radius: 50%;
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid black;
	overflow: hidden;
}

.box {
	position: absolute;
	width: auto;
	height: 100%;
	animation-name: move;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

}

.img {
	height: 100%;
	width: auto;
}

.b1 {
	animation-delay: -2s;
}


@keyframes move {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}